<div id="wrap_confirmation_dialog" class="dialogClass">

	<div class="dialog-header">
        <h4>Confirmation Dialog</h4>
    </div>

    <p>{{confirmationMessage}}</p>

    <div class="clearfix confimationButtons">
    	<button type="submit" class="btn btn-md btn-primary" ng-click="confirmationMethod()"><i class="glyphicon glyphicon-ok"></i>Yes</button>
    	<button type="submit" class="btn btn-md btn-primary" ng-click="closeThisDialog()"><i class="glyphicon glyphicon-remove"></i>No</button>
	</div>

   </div>