<div id="wrap_dashboard" ng-controller="calendarCtrl" class="clearfix">

	<nav class="navbar navbar-default navbar-static-top menuTop">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Agenda</a>
			</div>

			<div id="menu" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a class="btn-menu" ng-click="openAddDialog()"><i class="glyphicon glyphicon-list-alt"></i>Add Event</a></li>

					<li><a class="btn-menu" ng-click="openEnrollmentDialog()"><i class="glyphicon glyphicon-briefcase"></i>Enrollment</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a class="btn-menu" ng-click="logout()"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="col-md-9 calendar">
		<div ui-calendar="calendarConfig.calendar" ng-model="events" />
	</div>

	<footer>
		<p>© Copyright 2015</p>
	</footer>
</div>