<div id="wrap_edit_event" class="eventDialog">

	<div class="dialog-header">
        <h4>Edit Event</h4>
    </div>

    <form name="newEventForm" class="form-horizontal" role="form">

		<div class="form-group">
        	<label for="inputName">Name</label>
        	<input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="currentEvent.nm" />
    	</div>

    	<div class="form-group">
        	<label for="inputDescription">Description</label>
        	<textarea type="text" class="form-control" id="inputDescription" placeholder="Description" ng-model="currentEvent.description" maxlength="300"/>
    	</div>

    	<div class="form-group">
        	<label for="inputMajor">Major</label>
        	<select ng-model="currentEvent.major" id="inputMajor" class="form-control" ng-options="major.id as major.name for major in majors" ng-change="majorSelected(currentEvent.major)">
        		<option value="">-- Select a Major --</option>
        	</select>
    	</div>

    	<div class="form-group">
        	<label for="inputClass">Class</label>
        	<select ng-model="currentEvent.subject" id="inputClass" class="form-control" ng-disabled="!currentEvent.major" ng-options="subject.id as subject.name for subject in subjects">
        		<option value="">{{selectClassMessage}}</option>
        	</select>
    	</div>

    	<div class="form-group clearfix dates">
	    	<div class="col-sm-6">
	    		<label for="inputStart">Start</label>
	    		<input type="date" id="inputStart" class="form-control" ng-model="currentEvent.start"/>
	    	</div>

	    	<div class="col-sm-6">
	    		<label for="inputEnd">End</label>
	    		<input type="date" id="inputEnd" class="form-control" ng-model="currentEvent.end"/>
	    	</div>
    	</div>

    	<div class="clearfix">
			<button type="submit" class="pull-right btn btn-md btn-primary" ng-click="editEvent(currentEvent);closeThisDialog()">Confirm</button>
		</div>
	</form>

</div>