<style type="text/css">
	html {
		background: #F2F5E9;
	}
</style>

<div id="wrap_signup">
	<div id="div_form">
		<div class="page-header">
			<h1>Create Account</h1>
		</div>
		<form name="signupForm" class="form-horizontal" role="form">
			<input type="text" class="input-signup form-control" placeholder="Name" ng-model="user.name"/>

			<input type="text" class="input-signup form-control" placeholder="Email" name="email" ng-model="user.email" focus/>
			<span ng-show="signupForm.email.$error.email" class="help-inline">Email não é válido</span> 

			<input type="password" class="input-signup form-control" name = "password" placeholder="Password" ng-model="user.passwd" required/>

			<input type="password" class="input-signup form-control" name="password2" placeholder="Password Again" ng-model="user.password2" password-match="user.passwd" required/>

			<small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Senhas não são iguais.</small>

			<input type="date" class="input-signup form-control" ng-model="user.birthday"/>

			<a class="p_link_hover" href="#/login"><i class="glyphicon glyphicon-arrow-left"></i>Back</a>
			<button type="submit" class="pull-right btn btn-md btn-primary" ng-click="signUp(user)" data-ng-disabled="signupForm.$invalid">Sign Up</button>
		</form>
	</div>
</div>