<div id="wrap_signup">
	<div id="div_form">
		<div class="page-header">
			<h1>Sign Up</h1>
		</div>
		<form name="signupForm" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputName">Name</label>
				<input type="text" id="inputName" class="input-signup form-control" placeholder="Name" ng-model="user.name" focus/>
			</form>

			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="text" id="inputEmail" class="input-signup form-control" placeholder="Email" name="email" ng-model="user.email"/>
				<span ng-show="signupForm.email.$error.email" class="help-inline">Email não é válido</span> 
			</form>

			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" id="inputPassword" class="input-signup form-control" name="password" placeholder="Password" ng-model="user.passwd" required/>
			</form>

			<div class="form-group">
				<label for="inputConfirmPassword">Confirm Password</label>
				<input type="password" id="inputConfirmPassword" class="input-signup form-control" name="password2" placeholder="Password Again" ng-model="user.password2" password-match="user.passwd" required/>
			</form>

			<small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Senhas não são iguais.</small>

			<div class="form-group">
				<label for="inputBirthday">Birthday</label>
				<input type="text" id="inputBirthday" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="user.birthday" min-date="1900-01-01" show-button-bar="false" close-text="Close" is-open="birthday.isOpen" ng-click="birthday.isOpen = true"/>
			</form>

			<div class="div-buttons">
				<a class="p_link_hover" href="#/login"><i class="glyphicon glyphicon-arrow-left"></i>Back</a>
				<button type="submit" class="pull-right btn btn-md btn-primary" ng-click="signUp(user)" data-ng-disabled="signupForm.$invalid">Sign Up</button>
			</div>
		</form>
	</div>
</div>