html {
  min-height: 100%;
  position: relative;
  background: #F2F5E9;
}
body {
  margin-bottom: 25px;
}
/**** Menu ****/
.menuTop {
  background: #2e7a21;
}
.menuTop .navbar-brand {
  color: #f3f3f3 !important;
}
.menuTop .btn-menu {
  color: #f3f3f3 !important;
  background: #439136;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.49);
}
.menuTop .btn-menu i {
  margin-right: 7px;
}
.menuTop .btn-menu:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
}
/**** Fim Menu ****/
footer {
  background: #2e7a21;
  bottom: 0;
  position: absolute;
  height: 25px;
  width: 100%;
  text-align: center;
  color: #f3f3f3;
  padding-top: 3px;
}
footer p {
  margin-bottom: 0px;
}
.p_link_hover:hover {
  text-decoration: none;
}
.form-group {
  padding: 0px 20px;
}
.btn-primary {
  background: #2e7a21 !important;
}
