#wrap_dashboard {
  background: #F2F5E9;
}
#wrap_dashboard .calendar {
  margin-bottom: 10px;
}
#wrap_dashboard .calendar .fc-view-container {
  background: #fff;
}
#wrap_dashboard .calendar .tooltip .tooltip-arrow {
  border-top-color: #2e7a21;
}
#wrap_dashboard .calendar .tooltip .tooltip-inner {
  box-shadow: 3px 3px 13px 0 rgba(50, 50, 50, 0.49);
  background: white;
  color: black;
  border: 1px solid #2e7a21;
  padding: 0px;
}
#wrap_dashboard .calendar .tooltip .tooltip-inner h3 {
  margin: 0px;
  padding: 5px 0px;
  color: #f3f3f3;
  background: #2e7a21;
}
#wrap_dashboard .calendar .tooltip .tooltip-inner div {
  padding-top: 10px;
  padding-bottom: 7px;
}
#wrap_dashboard .calendar .tooltip .tooltip-inner p {
  text-align: left;
  font-size: 14px;
  padding: 0px 10px;
  margin-bottom: 3px;
}
