@media (min-width: 768px) {
  #wrap_signup #div_form {
    min-width: 400px;
  }
}
#wrap_signup #div_form {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 30px 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 13px 0px rgba(50, 50, 50, 0.49);
}
#wrap_signup #div_form .input-signup {
  margin-bottom: 10px;
}
#wrap_signup #div_form a i {
  margin-right: 5px;
}
#wrap_signup #div_form .div-buttons {
  margin-top: 10px;
}
